acl allowed_networks { {%- for network in allowed_networks -%}
			  {{ network }};
			{%- endfor -%}
		      };

options {
    directory "/var/cache/bind";
    forwarders {
      {%- for address in dns_forwarders -%}
        {{ address }};
      {%- endfor -%}
    };
    dnssec-validation no;
    auth-nxdomain no;    # conform to RFC1053
};

zone "{{ domain_name }}{{ top_level_domain }}" {
     type master;
     file "/etc/bind/db.{{ domain_name }}";
};


{% for vm in groups['all'] %}
	zone "{{ hostvars[vm]['inventory_hostname'] }}." {
     	     type master;
     	     file "/etc/bind/db.{{ hostvars[vm]['inventory_hostname'] }}";
};
{% endfor %}

#Since Lab 7 - Grafana, for bind exporter

statistics-channels {
  inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};
